// overriding the color of the splash image caption
.page__hero {

  &-caption {
    display: block; // was none
    text-align: right;
    font-size: 0.75em;
    color: #fff;
    padding: 5px;
  }

  &--overlay {
    height: 250px;
    display: flex;
    align-items: center;

      @include breakpoint($small) {
        height: 300px;
      }

      @include breakpoint($large) {
        height: 349px;
      }

    .page__title {
      z-index: 2;
      text-align: right;
      color: #fff;
      margin: 0;
      // transform: translateY(30px);
      text-shadow: 2px 4px 12px rgba(0, 0, 0, 0.9), 0px 2px 6px rgba(0, 0, 0, 0.8);
      line-height: 1.5;
      font-family: "Circular";
      font-size: 1.5em;
  
      @include breakpoint($x-small) {
        font-size: 1.5em;
      }
    }
    .page__lead {
      display: none;
      font-size: 30px;
      color: #fff;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
  }
}